* {
  box-sizing: border-box;
}

body {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: Inter, sans-serif;

  background-color: #d9d9d9;

  overflow: hidden;

  user-select: none;
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

#divId {
  margin: auto;

  overflow: hidden;
}

.triangle {
  width: 0;
  height: 0;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid #ffffff;

  transition: transform 0.3s ease-in-out;
}

.circle {
  width: 12px;
  height: 12px;

  border-radius: 12px;

  background-color: #ffffff;
}

.triangle--close {
  transform: rotate(180deg);
}

.menu {
  position: absolute;
  top: 15%;
  left: 5%;

  display: none;

  color: #ffffff;
}

.menu__title {
  padding-bottom: 80px;

  font-size: 96px;
}

.menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;

  width: 600px;
  height: 120px;

  font-size: 48px;
  font-weight: bold;
  color: inherit;

  outline: none;
  border: none;
  cursor: pointer;

  transition: background-color 0.3s;
}

.menu__button--primary {
  background-color: #5b5e9e;

  &:hover {
    background-color: #7376b0;
  }

  &:active {
    background-color: #4f528f;
  }
}

.menu__button--secondary {
  background-color: #9397da;

  &:hover {
    background-color: #aaaeec;
  }

  &:active {
    background-color: #898cce;
  }
}

.menu__button--tertiary {
  background-color: #b3b5e6;

  &:hover {
    background-color: #c1c2ed;
  }

  &:active {
    background-color: #a1a3d5;
  }

  &:disabled {
    background-color: #b6b8da;
    color: #dddeec;
  }
}

.menu__image {
  position: absolute;
  top: -60px;
  right: -620px;

  width: 600px;
}

.skipButton {
  position: absolute;
  top: 20px;
  left: 20px;

  padding: 4px 20px;

  height: 44px;

  background-color: #9397da;
  border-radius: 8px;

  font-size: 16px;
  color: #ffffff;

  box-shadow: 0px 0.11px 1.27px 0px rgba(64, 64, 64, 0.03),
    0px 0.27px 3.06px 0px rgba(64, 64, 64, 0.04),
    0px 0.5px 5.76px 0px rgba(64, 64, 64, 0.05),
    0px 0.89px 10.27px 0px rgba(64, 64, 64, 0.06),
    0px 1.67px 19.22px 0px rgba(64, 64, 64, 0.07),
    0px 4px 46px 0px rgba(64, 64, 64, 0.1);

  &:hover {
    background-color: #aaaeec;
  }

  &:active {
    background-color: #898cce;
  }

  opacity: 0;
  transform: translateX(-150%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
    background-color 0.3s;
}

.skipButton--open {
  opacity: 1;
  transform: translateX(0);
}

.toMenuButton {
  position: absolute;
  top: 70px;
  left: 20px;

  padding: 4px 20px;

  height: 44px;

  background-color: #9397da;
  border-radius: 8px;

  font-size: 16px;
  color: #ffffff;

  box-shadow: 0px 0.11px 1.27px 0px rgba(64, 64, 64, 0.03),
    0px 0.27px 3.06px 0px rgba(64, 64, 64, 0.04),
    0px 0.5px 5.76px 0px rgba(64, 64, 64, 0.05),
    0px 0.89px 10.27px 0px rgba(64, 64, 64, 0.06),
    0px 1.67px 19.22px 0px rgba(64, 64, 64, 0.07),
    0px 4px 46px 0px rgba(64, 64, 64, 0.1);

  &:hover {
    background-color: #aaaeec;
  }

  &:active {
    background-color: #898cce;
  }

  opacity: 0;
  transform: translateX(-150%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
    background-color 0.3s;
}

.toMenuButton--open {
  opacity: 1;
  transform: translateX(0);
}

.sidebar {
  position: relative;
  z-index: 3;
  top: 0;
  right: 0;

  display: block;

  width: 350px;
  height: 100vh;

  background-color: #ffffff;

  overflow: auto;

  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

  transition-delay: 0.1s;
}

.sidebar--open {
  opacity: 1;
  transform: translateX(0);
}

.sidebar__task {
  padding: 16px;
  min-width: fit-content;
}

.sidebar__task-title-group {
  display: flex;
  gap: 12px;
  align-items: baseline;

  padding: 12px;

  background-color: #d9d9d9;
  cursor: pointer;
}

.sidebar__task-title {
  font-size: 18px;
  font-weight: 400;
}

.sidebar__task-list {
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  max-height: 0;
}

.sidebar__task-list--open {
  max-height: 500px;
}

.sidebar__task-item {
  line-height: 32px;
  transition: transform 0.3s ease, margin 0.3s ease;
}

.sidebar__task-item--done {
  text-decoration: line-through;
  color: #a4a4a4;
  animation-name: appearance;
  animation-duration: 1s;
}

.sidebar__task-item--remove {
  transition: 1s;
  color: red;
}

@keyframes appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.helloModal {
  padding: 12px;
  padding-left: 48px;

  width: 350px;

  position: absolute;
  left: 120px;
  bottom: 60px;

  font-size: 16px;
  color: #ffffff;

  border-radius: 8px;

  background-color: #b3b5e6;

  box-shadow: 0px 0.11px 1.27px 0px rgba(64, 64, 64, 0.03),
    0px 0.27px 3.06px 0px rgba(64, 64, 64, 0.04),
    0px 0.5px 5.76px 0px rgba(64, 64, 64, 0.05),
    0px 0.89px 10.27px 0px rgba(64, 64, 64, 0.06),
    0px 1.67px 19.22px 0px rgba(64, 64, 64, 0.07),
    0px 4px 46px 0px rgba(64, 64, 64, 0.1);

  opacity: 0;
  transform: translateX(-150%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.helloModal--open {
  opacity: 1;
  transform: translateX(0);
}

.helloModal__text-content {
  margin: 0;
}

.helloModal__maskot {
  position: absolute;
  z-index: 1;
  top: -25px;
  left: -80px;

  width: 120px;
}

.levelEndModal {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(200%);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;

  padding: 20px;

  width: 0;
  height: 0;

  background-color: #ffffff;
  border-radius: 8px;

  font-size: 18px;

  box-shadow: 0px 0.11px 1.27px 0px rgba(64, 64, 64, 0.03),
    0px 0.27px 3.06px 0px rgba(64, 64, 64, 0.04),
    0px 0.5px 5.76px 0px rgba(64, 64, 64, 0.05),
    0px 0.89px 10.27px 0px rgba(64, 64, 64, 0.06),
    0px 1.67px 19.22px 0px rgba(64, 64, 64, 0.07),
    0px 4px 46px 0px rgba(64, 64, 64, 0.1);

  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.levelEndModal--open {
  width: 300px;
  height: 190px;

  opacity: 1;
  transform: translate(-50%, -50%) translateX(0);
}

.levelEndModal__header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 24px;

  background-color: #d1d1d1;

  border-radius: 8px 8px 0 0;
}

.levelEndModal_circleGroup {
  display: flex;
  align-items: center;
  gap: 4px;

  height: 100%;

  padding-left: 8px;
}

.levelEndModal__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  height: 60px;
}

.levelEndModal__image {
  width: 80px;
  height: 72px;
  object-fit: contain;
}

.levelEndModal__text {
  margin-top: 20px;
}

.levelEndModal__buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.levelEndModal__button {
  padding: 4px 20px;

  width: 112px;
  height: 44px;

  background-color: #d9d9d9;
  border-radius: 8px;

  font-size: 16px;
  color: black;

  transition: background-color 0.3s;

  &:hover {
    background-color: #e7e7e7;
  }

  &:active {
    background-color: #cbcbcb;
  }
}

.gameOver {
  position: absolute;
  top: 20%;
  left: 20%;

  width: 300px;
}

.gameOver__text {
  position: absolute;

  color: #ffffff;
  font-size: 24px;
}

@media (max-width: 1024px) {
  .menu__title {
    padding-bottom: 40px;
    font-size: 70px;
  }

  .menu__button {
    width: 400px;
    height: 100px;
    font-size: 32px;
  }

  .menu__image {
    right: -470px;
    width: 500px;
  }
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }

  #divId {
    width: 100%;
  }

  .menu {
    top: 35%;
  }

  .menu__title {
    padding-bottom: 40px;
    font-size: 42px;
  }

  .menu__button {
    width: 100%;
    height: 80px;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .menu__image {
    top: -200px;
    width: 160px;
    left: 0;
  }

  .sidebar {
    width: 100%;
    height: 300px;
    border-top: #ffffff solid 12px;
  }

  .helloModal {
    left: 65px;
    bottom: 250px;
    width: 280px;
    padding: 10px;
    padding-left: 48px;
    font-size: 14px;
  }

  .helloModal__maskot {
    top: -20px;
    left: -54px;
    width: 95px;
  }

  .levelEndModal {
    width: 280px;
    height: 170px;
  }

  .levelEndModal__content {
    gap: 8px;
    height: 50px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .menu {
    top: 30%;
  }

  .menu__title {
    padding-bottom: 40px;
    font-size: 42px;
  }

  .menu__button {
    width: 260px;
    height: 80px;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .menu__image {
    top: -190px;
    width: 160px;
    left: 0;
  }
}

@media (max-height: 600px) {
  #menuButtons {
    display: flex;
    gap: 8px;
  }

  .menu__title {
    padding-bottom: 24px;
    font-size: 42px;
  }

  .menu__button {
    width: 160px;
    height: 80px;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .menu__image {
    top: -50px;
    width: 200px;
    right: -225px;
  }
}
